@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Roboto:wght@500;900&display=swap");

/* Universal Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background: #1f242d;
}

/* Navbar Styling */
.navbar-brand {
  color: #fff;
}
.navbar-nav{
    margin-right: 15rem;
}
.nav-link {
  color: #fff;
  margin-top: 0.5rem;
  
}
