/* Font import  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Styling varibales */
:root{
  --primary_color: #052f5f;
  --secondary-color: #005377;
  --tertiry-color: #06a77d;
  --prifont_color: #fff; 
  --secfont_color: #c7f022;
  --progress-value: 0deg;
}
/* Defaul CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--primary_color) !important;
  color: var(--prifont_color) !important;
  font-family: "Roboto", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background: linear-gradient(90.21deg, #052f5f -5.91%,  #005377 111.58%);
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--prifont_color) !important;
  letter-spacing: 0.08rem;
  padding: 0 2rem;
  font-size: 1.4rem;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 3rem;
  height: 3rem;
  background: var(--secondary-color);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 0.6rem;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  background-color: var(--prifont_color);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a .fa-icon{
  color: var(--prifont_color);
  width: 40%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.social-icon a:hover .fa-icon{
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: var(--prifont_color);
  border: 0.1rem solid var(--prifont_color);
  padding: 1rem 1.5rem;
  font-size: 1rem;
  margin-left: 1rem;
  position: relative;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--prifont_color);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.navbar-text button:hover {
  color: var(--secondary-color);
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 2rem;
  height: 1.8rem;
  background-image: none;
  position: relative;
  border-bottom: 0.2rem solid var(--prifont_color);
  transition: all 300ms linear;
  top: -0.2rem;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 0.2rem solid var(--prifont_color);
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 2rem;
  position: absolute;
  height: 0.2rem;
  background-color: var(--prifont_color);
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 0.8rem;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: var(--prifont_color);
  height: 0.2rem;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: var(--prifont_color);
  height: 0.2rem;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/************ Banner CSS ************/
.banner {
  margin-top: 0;
  padding: 14rem 0 8rem 0;
  background:linear-gradient(0deg, rgba(5, 47, 95, 0.7), rgba(2, 73, 80, 0.7)), url('./components/resources/bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(5, 47, 95, 0.322) -5.91%, rgba(2, 73, 80, 0.5) 111.58%);
  border: .02em solid rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 1.5rem;
  display: block;
}
.banner h1 .wrap{
  display: inline-block;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  color: var(--secfont_color);
}
.banner p {
  color: var(--prifont_color);
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 2rem;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  margin-left: .8rem;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 1.5rem;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.wrap {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid var(--secfont_color); 
  white-space: nowrap;
  animation: blink 0.75s step-end infinite;
  transition: all 0.2s ease-in-out;
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: var(--secfont_color) }
}

/************ Skills Css ************/
.skill {
  padding: 15rem;
  position: relative;
  background: linear-gradient(90.21deg, #052f5f -5.91%,  #005377 111.58%);
}
.skill-bx {
  border-radius: 4rem;
  text-align: center;
  padding: 6rem 3rem;
  margin-top: -6rem;
}
.skill h2 {
	font-size: 4rem;
	font-weight: 700;
}
.skill p {
    color: var(--secfont_color);
    font-size: 1.4rem;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 1rem 0 7.5rem 0;
}
.skill-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.tech-skill{
  margin-bottom: 6rem;
}
.rating{
  padding: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25em;
}
.circular-progress{
  position: relative;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  box-shadow: 0 0 1em var(--tertiry-color), 0 0 2em var(--tertiry-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before{
  content: "";
  position: absolute;
  height: 12em;
  width: 12em;
  border-radius: 50%;
  background: linear-gradient(90.21deg, #052f5f -5.91%,  #005377 111.58%);
}
 .rating h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--prifont_color);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5em;
}
.rating h2 span{
  font-size: 2.5rem;
  font-weight: 700;
}
.rating h2 sup{
  font-size: 1.5rem;
  font-weight: 300;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background:linear-gradient(0deg, rgba(5, 47, 95, 0.7), rgba(5, 47, 95, 0.7)), url('./components/resources/bg.jpg');
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
.project p {
  color: var(--secfont_color);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #005377 -5.91%, #052f5f 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 0.02em solid rgba(255, 255, 255, 0.5);
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #005377 -5.91%, #052f5f 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
.projlink{
  color: var(--prifont_color);
}

/************ Contacts CSS ************/
.contact {
  background: linear-gradient(90.21deg, #005377 -5.91%, #052f5f 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background-image: url('./components/resources/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}